<style>
    * {
        color: white;
        font-size: 1.2rem;
    }

    body {
        background: white url('./python-django-wallpaper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }   

    li {
        list-style-type: decimal;
    }
</style>

<h1>DSWEB 2024.1 - João Roberto</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}